{% extends "base.html" %}
{% load static %}

{% block navbar %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link active" href="/intro">Introduction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/detector">Detector</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/tutorials">Tutorials</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contacts">Contacts</a>
    </li>
</ul>

{% endblock navbar %}


{% block sidebar %}

<nav class="nav flex-column nav-pills">

  <a class="nav-link" href="/intro">Spokesperson</a>
  <a class="nav-link" href="/intro/overview">Overview</a>
  <a class="nav-link active" href="/intro/history">History</a>
  <a class="nav-link" href="/intro/status">Status</a>
  <a class="nav-link" href="/intro/numbers">Numbers</a>
  <a class="nav-link" href="/intro/location">Location</a>

</nav>

{% endblock sidebar %}

{% block content %}

<div class="Container">
    <div class="row">
        <div class="card">
        <div class="card-header">
            <h2>History</h2>
        </div>
        <div class="card-body">
                <p>
                <ul>
                    <li><b>August 1991:</b> PHENIX rises from the ashes of the proposals
                of  four other proposed experiments. PHENIX is born from the merger of proposals
                 named TALES, SPARC, OASIS, and DIMUON.</li>

                </ul>
                </p>

                <p>
                <ul>
                    <li><b>1991-2000:</b> PHENIX is designed, built, and installed at RHIC.</li>
                </ul>
                </p>

                <p>
                <ul>
                   <li><b>December 1998: </b>PHENIX survives a flood after torrential rain
                partially submerged some of the electronics.<br>
                   </li>

                </ul>
                </p>

                <p>
                <ul>
                   <li><b>June 15, 2000 at 6:28 am EDT:</b> PHENIX records its first relativistic
                heavy ion collision.</li>

                </ul>
                </p>

                <p>
                <ul>
                   <li><b>Summer of 2000: </b>RHIC Run-1. PHENIX takes data from reduced
                RHIC energy Gold-Gold collisions.</li>

                </ul>
                </p>

                <p>
                <ul>
                   <li><b>February 27, 2001:</b> The first PHENIX physics paper is accepted
                for publication by the Physical Review Letters scientific journal.<br>
                   </li>

                </ul>
                </p>

                <p>
                <ul>
                   <li><b>May 2001 through January 2002:</b> RHIC Run-2. PHENIX takes data
                from full RHIC energy Gold-Gold and polarized proton-proton collisions.</li>

                </ul>
                </p>

                <p>
                <ul>
                   <li><b>March 2003 through May 2003:</b> RHIC Run-3. PHENIX takes data
                from full RHIC energy deuteron-Gold and polarized proton-proton collisions.<br>
                   </li>

                </ul>
                </p>

                <p>
                <ul>
                   <li><b>June 18, 2003:</b>
                   All four RHIC experiments, including PHENIX, release the first results from deuteron-Gold collisions, which confirm that a new state of matter with unique properties has been seen in Gold-Gold collisions at RHIC.
                   <br>
                </li>
                </ul>
                <p>

                <p>
                <ul>
                  <li><b>December 2003 through May 2004:</b> RHIC Run-4. PHENIX takes more data
                from full RHIC energy Gold-Gold and polarized proton-proton collisions.</li>
                </ul>
                </p>

                <p>
                <ul>
                  <li><b>December 2004 through May 2005:</b> RHIC Run-5. PHENIX takes more data
                from full RHIC energy Copper-Copper and polarized proton-proton collisions.</li>
                </ul>
                </p>

                <p>
                <ul>
                  <li><b>April 2005:</b> The RHIC experiments announce the discovery of perfect liquid matter in RHIC collisions.  </li>
                </ul>
                </p>



                <p>
                <ul>
                  <li><b>December 2004 through May 2005:</b> PHENIX publishes 3 papers in a single edition of the Physical Review Letters scientific journal.  See the <a href="http://www.bnl.gov/bnlweb/pubaf/PHENIX3.asp" target="_blank">BNL Press Release</a> for more information.</li>
                </ul>
                </p>



                <p>
                <ul>
                  <li><b>March 2006 through June 2006:</b> RHIC Run-6. PHENIX takes more data
                from full RHIC energy polarized proton-proton collisions.  Thanks to
                Renaissance Technologies for funding RHIC Run-6!</li>
                </ul>
                </p>

                <p>
                <ul>
                  <li><b>May 2007 through July 2007:</b> RHIC Run-7. PHENIX takes much more
                data from full RHIC energy gold-gold collisions.</li>
                </ul>
                </p>

                <p>
                <ul>
                  <li><b>November 2007 through March 2008:</b> RHIC Run-8. PHENIX takes much more
                data from full RHIC energy deuteron-gold and polarized proton-proton collisions.</li>
                </ul>
                </p>

                <p>
                <ul>
                  <li><b>June 2008:</b> The PHENIX White paper publication achieves reknowned status, receiving more than 500 scientific citations in scientific journals. </li>
                </ul>
                </p>

                <p>
                <ul>
                  <li><b>February 2009 through April 2009:</b> RHIC Run-9. PHENIX records data from polarized proton-proton collisions with collision energies of 200 GeV and 500 GeV.</li>
                </ul>
                </p>

                <p>
                <ul>
                  <li><b>February 2010:</b> <a href="http://www.phenix.bnl.gov/QuarkSoup.html">PHENIX makes the news</a> following an announcement that the temperature in a RHIC collision is hot enough to produce a Quark-Gluon Plasma..</li>
                </ul>
                </p>

                <p>
                <ul>
                  <li><b>January 2010 through June 2010:</b> RHIC Run-10. The new Hadron Blind Detector is installed. The RHIC beam energy scan program begins with gold-gold collisions at 200 GeV, 62.4 GeV, 39 GeV, and 7.7 GeV taken by PHENIX. STAR also takes data from 11 GeV gold-gold collisions.</li>
                </ul>
                </p>

                <p>
                <ul>
                  <li><b>February 2011 through June 2011:</b> RHIC Run-11. The new Silicon Vertex Tracker is installed. PHENIX records data from 500 GeV proton-proton collisions and 200 GeV gold-gold collisions.  The RHIC beam energy scan program continues with gold-gold collisions at 19.6 GeV and 27 GeV.</li>
                </ul>
                </p>

                <p>
                <ul>
                  <li><b>December 5, 2011:</b> PHENIX celebrates its 20th anniversary with a symposium at Brookhaven National Laboratory.</li>
                </ul>
                </p>
        </div>
        </div>
    </div>
</div>

{% endblock content %}