{% extends "base.html" %}
{% load static %}

{% block navbar %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link active" href="/intro">Introduction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/detector">Detector</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/tutorials">Tutorials</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contacts">Contacts</a>
    </li>
</ul>

{% endblock navbar %}


{% block sidebar %}

<nav class="nav flex-column nav-pills">

  <a class="nav-link" href="/intro">Spokesperson</a>
  <a class="nav-link active" href="/intro/overview">Overview</a>
  <a class="nav-link" href="/intro/history">History</a>
  <a class="nav-link" href="/intro/status">Status</a>
  <a class="nav-link" href="/intro/numbers">Numbers</a>
  <a class="nav-link" href="/intro/location">Location</a>

</nav>

{% endblock sidebar %}

{% block content %}

<div class="Container">
    <div class="row">
        <div class="card">
        <div class="card-body">
        <img style="width:50%; height:60%;" src="{% static 'images/phenixED.jpg' %}">

            <p>
            <br>
             <h2>The PHENIX Experiment is the largest of the four experiments that have
            taken data at the Relativistic Heavy Ion Collider.</h2>
             <br>
             PHENIX, the <b>P</b>ioneering <b>H</b>igh <b>E</b>nergy <b>N</b>uclear
             <b>I</b>nteraction e<b>X</b>periment, is an exploratory experiment for the
             investigation of high energy collisions of heavy ions and protons. PHENIX
             is designed specifically to measure direct probes of the collisions such
             as electrons, muons, and photons. The primary goal of PHENIX is to discover
             and study a new state of matter called the <i>Quark-Gluon Plasma</i>.<br>
             <br>
             Here, you will find loads of information about PHENIX, including the
             following: an introduction to the various detectors included
             in PHENIX, a description of how data flows from the detectors to a
             scientific journal publication, an explanation of the measurements
             that PHENIX is capable of making, an introduction to the people
             involved in PHENIX and where the experiment is located. Also included
             are animations, Java games, and an interactive display of collisions
             as recorded by PHENIX (see <i>Birdseye</i>).
             <br>
             <br>
            <h2>The Science Mission of PHENIX</h2>
             The PHENIX Collaboration performs basic research with high energy collisions
             of heavy ions and protons. The primary mission of PHENIX is the following:<br><br>

            <ul>
              <li>
               Search for a new state of matter called the Quark-Gluon Plasma, which is
               believed to be the state of matter existing in the universe shortly after
               the Big Bang.  PHENIX data suggest that a new form of matter has indeed
               been discovered, and that it behaves like a perfect fluid. PHENIX scientists
               are now working to study its properties.
              </li>

            </ul>
            <ul>
                   <li>Study matter under extreme conditions of temperature and pressure.</li>
            </ul>
            <ul>
                   <li>Learn where the proton gets its spin.</li>
            </ul>
            <ul>
                   <li>Study the most basic building blocks of nature and the forces that govern them.</li>
            </ul>
            <ul>
                   <li>Create a map of the Quantum Chromodynamics phase diagram.</li>
            </ul>
            <br>
            <br>
            </p>


        </div>
        </div>
    </div>
</div>

{% endblock content %}