{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="ALL" />
    <title>PHENIX</title>
    <!--<link href="{% static 'images/star.ico' %}" rel="shortcut icon" media="all">-->
    <link href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="all">
</head>
<body>
<!------Header------->

<div style="background:white" class = "jumbotron-fluid">
    <div class="Container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="{% static 'images/phenix_75_72dpi.gif' %}" style="width:450px;height:120px;">
            </div>
            <div class="col-lg-8 text-center">
                <h1></h1>
                <h1>PHENIX</h1>
                <h3><i>A Physics Experiment at RHIC</i></h3>
            </div>
        </div>
    </div>
</div>
<h1> </h1>
<!------Main Navigation bar---->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
  <a class="navbar-brand" href="/">PHENIX</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" >

      {% block navbar %}

      {% endblock navbar %}

  </div>
</nav>
<!-------Space ------->
<h1> </h1>
<!-------Page Content---->
<div class="container-fluid">
    <div class="row" >
        <div class="col-lg-2">
        {% block sidebar %}

        {% endblock sidebar %}
        </div>
        <div class="col-lg-10">
        {% block content %}

        {% endblock content %}
        </div>
    </div>
</div>


<script src="{% static 'jquery3.3.1/jquery-3.3.1.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js" type="text/javascript"></script>


{% block script %}

{% endblock script %}

</body>
</html>